.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header.topMenuBar {
  background-color: black;
}

div.leftNav {
  margin-right: auto;
}

div.rightNav {
  margin-left: auto;
  margin-right: 10rem;
}

button.propertyMenuBtn {
  background-color: green;
  color: white;
  width: 15rem;
  font-size: 1.1rem;
  margin-right: 1rem;
}

button.loginMenuBtn {
  background-color: white;
  color: black;
  width: 15rem;
  font-size: 1.1rem;
  margin-left: 1rem;
}

button.MuiButtonBase-root.loginMenuBtn:hover {
  background-color: green !important;
}

button.MuiButtonBase-root.propertyMenuBtn:hover {
  background-color: blue !important;
}

button.listingsMenuBtn {
  margin-right: 2rem;
}

button.agenciesMenuBtn {
  margin-left: 2rem;
}

.backgroundImage {
  width: 100%;
  height: 92vh;
}

.overlayHomepageText {
  position: absolute;
  z-index: 100;
  top: 100px;
  left: 20px;
  text-align: center;
}

h1.homepageText {
  color: white;
  font-weight: bolder;
}

button.homepageBtn {
  font-size: 3.5rem;
  border-radius: 15px;
  background-color: green;
  margin-top: 2rem;
  box-shadow: 3px 3px 3px lightgray;
}

.primaryColor {
  color: green;
}