.leaflet-container {
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 1px 1px black;
}

:root {
  --cor-contraste: rgb(61, 155, 23);
  --cor-contraste-hover: rgb(65, 182, 19);
  --cor-neutra: #ffff;
}

Button.submit-button {
  background-color: var(--cor-contraste);
  color: var(--cor-neutra);
  font-size: 1.1rem;
  margin-left: 1rem;
  width: 100%;
  border: none !important;
}

body,
div.update-internship-background {
  background-color: rgb(209, 209, 209) !important;
}

Button.submit-button:hover {
  border: none !important;
  background-color: var(--cor-contraste-hover);
}

.submeter-propriadade {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  border: 2px solid black;
  border-radius: 8px;
  padding: 3rem;
}

.upload_pictures {
  background-color: blue;
  color: var(--cor-neutra);
  font-size: 0.8rem;
  border: 1px solid black;
  margin-left: 1rem;
}

/*Header.js*/

/*Fim de Header.js*/

/*Profile.js*/
.welcome-text {
  text-align: center;
  margin-top: 1rem;
}

.highlight {
  color: var(--cor-contraste);
  font-weight: bolder;
}

div.profile-container {
  margin-left: auto;
  margin-right: auto;

  margin-top: 2rem;

  width: 40rem;
}

.image {
  border-radius: 8px;
}

div.profile-container .profile-text {
  text-align: center;
}

.component-box-shadow-no-hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.component-box-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.component-box-shadow:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 6px 8px rgba(0, 0, 0, 0.25) !important;
}

.company-info-box {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  margin-top: 1rem;
  padding: 5px;
}

div.company-card {
  height: 22rem;
  width: 19rem;
}

.mini-profile-picture {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 4px;
  padding: 12px;
}

.image {
  height: 15rem;
  width: 20rem;
}

.grid-container {
  height: 100vh;
}
/*Fim de Profile.js*/

/*Register.js*/
.form-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  border: none;
  border-radius: 8px;
  padding: 3rem;
  background-color: white;
}
/*Fim de Register.js*/

.bg-verde {
  background-color: var(--cor-contraste);
}
.texto-contraste {
  color: var(--cor-contraste) !important;
}

.botoes-navbar-hover:hover {
  color: var(--cor-contraste) !important;
}

#botao-login-navbar {
  background-color: var(--cor-contraste);
  margin-left: 1rem;
}
.botao-user-hover:hover {
  color: var(--cor-neutra) !important;
}
.container-home {
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.imagem-bg-home {
  width: 100%;
  object-fit: cover;
}

.container-titulo-home {
  z-index: 100;
  background: rgba(64, 64, 64, 0.7);
  backdrop-filter: blur(3.5px);
  padding-left: 10rem;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
#titulo-home {
  color: var(--cor-neutra);
  font-size: 2.3rem;
  font-weight: 500;
}
#botao-ver-estagios-home {
  width: fit-content;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: var(--cor-contraste);
  margin-top: 10px;
}
#botao-ver-estagios-home:hover {
  background-color: var(--cor-contraste-hover);
}

/*estagio (listings)*/
.internship-info-card {
  position: relative;
  min-height: 18rem;
  max-height: 24rem;
  margin: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px !important;
}

.css-185gdzj-MuiCardHeader-root {
  padding-bottom: 0 !important;
}

.internship-info-card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: inherit;
  background: inherit;
  filter: blur(2px) brightness(0.4);
  z-index: 1;
  transform: scale(1.03);
}

.internship-info-card > * {
  position: relative;
  z-index: 2;
  color: #ffff;
}

.internship-card-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.internship-card-image {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 30rem;
  cursor: pointer;
}

/*login*/
.container-login {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  border: none;
  border-radius: 8px;
  padding: 3rem;
  background-color: white;
}
#botao-submit-login {
  background-color: var(--cor-contraste);
  color: var(--cor-neutra);
  font-size: 1.1rem;
  margin-left: 1rem;
}
/*nav-bar*/
div#root header.custom-nav-bar {
  background-color: black;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 8000;
}

.filter-container {
  height: 90%;
  right: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  gap: 15px;
  z-index: 10000;
}

.filter-card {
  z-index: 2000;
  width: fit-content;
  z-index: 1000;
}

.filter-card-content {
  padding: 0 16px 0 16px;
  margin-top: 20px;
}
.starting-point-button {
  margin-top: 10px;
  color: white !important;
  z-index: 1000;
  margin-right: 15px;
}
.map-layer-button {
  position: absolute;
  color: var(--cor-contraste) !important;
  z-index: 1000;
  align-self: flex-end;
}
.old-map-layer-button {
  position: absolute;
  color: var(--cor-contraste) !important;
  z-index: 1000;
  align-self: flex-end;
}

#filter-card-bottom {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

#filter-sub-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  z-index: 10000;
}

#filter-button-group {
}

/*Body*/
div#root div.MuiGrid-root.MuiGrid-container[style=""],
div#root div.custom-body-listings {
  margin-bottom: 11px;
}

div.custom-body {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: none;
  border-radius: 8px;
  padding: 3rem;
  margin-bottom: 25px;
  background-color: white;
}

div.custom-details-body {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  padding: 2rem;
  margin-bottom: 15px;
  background-color: white;
}

/*Footer*/
div#root footer {
  width: 100%;
  background-color: black;
  color: white;
  padding-top: 10vh;
  box-shadow: 0 0 5px 0 black;
}

p.footer-text,
h6.footer-text {
  color: white;
}

div#root a.github-icon {
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
  top: 6px;
}

div#root a.github-icon:hover,
div#root a.copyrights-ua:hover,
div#root span.footer-sig-name {
  color: var(--cor-contraste-hover);
}

button.custom-anchor-text,
button.custom-anchor-text:visited,
button.custom-submit-btn {
  background-color: var(--cor-contraste);
  border: none;
  color: white !important;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

button.custom-anchor-text:hover,
button.custom-submit-btn:hover {
  background-color: var(--cor-contraste-hover);
}

.custom-theme-title {
  color: rgb(28, 78, 7);
  margin-bottom: 16px !important;
}

.primary-theme-color {
  color: rgb(28, 78, 7) !important;
}

button.cancel-btn {
  background-color: rgb(230, 67, 67);
}

button.cancel-btn:hover {
  background-color: rgb(224, 103, 103);
}

button.custom-warning-btn {
  background-color: rgb(207, 112, 48);
}

button.custom-warning-btn:hover {
  background-color: rgb(209, 133, 82);
  border: none;
}

label.custom-normal-btn {
  background-color: rgb(51, 66, 49);
}

label.custom-normal-btn:hover {
  background-color: rgb(51, 66, 49);
}

span.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: green;
}

div.custom-spacer {
  margin-top: 9rem;
  margin-bottom: 17rem;
}

div.custom-spacer-warning {
  margin-bottom: 24rem;
}

.chip-text-color {
  color: var(--cor-neutra) !important;
}
.chip-size-modifier {
  padding: 0 12px !important; /* increase padding as needed */
  height: 32px !important; /* increase height as needed */
  font-size: 16px !important; /* increase font-size as needed */
  line-height: 32px !important; /* match line-height to height */
}

.python {
  background-color: #3776ab !important;
}

.java {
  background-color: #007396 !important;
}

.c {
  background-color: #a8b9cc !important;
}

.csharp {
  background-color: #178600 !important;
}

.javascript {
  background-color: #f0db4f !important;
  color: black !important;
}

.sql {
  background-color: #4169e1 !important;
}

.php {
  background-color: #777bb4 !important;
}

.go {
  background-color: #00add8 !important;
}

.kotlin {
  background-color: #0095d5 !important;
}

.matlab {
  background-color: #bb92ac !important;
}

.swift {
  background-color: #fa7343 !important;
}

.rust {
  background-color: #000000 !important;
}

.ruby {
  background-color: #cc342d !important;
}

.dart {
  background-color: #0175c2 !important;
}

.scala {
  background-color: #dc322f !important;
}

.angular {
  background-color: #dd0031 !important;
}

.jquery {
  background-color: #0769ad !important;
}

.react {
  background-color: #61dafb !important;
}

.rubyonrails {
  background-color: #cc0000 !important;
}

.vuejs {
  background-color: #4fc08d !important;
}

.aspnet {
  background-color: #0095d5 !important;
}

.django {
  background-color: #092d1f !important;
}

.express {
  background-color: #000000 !important;
}

.laravel {
  background-color: #ff2d20 !important;
}

.nodejs {
  background-color: #689f63 !important;
}

.spring {
  background-color: #6db33f !important;
}

/* Internship Details */
.internship-details-image {
  width: 55rem;
  height: 33rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 2px 0 black;
  margin-right: auto;
  margin-left: auto;
}

.internship-image-container {
  margin-right: auto;
  margin-left: auto;
}

svg.internship-details-image-btn {
  position: absolute;
  cursor: pointer;
  font-size: 3rem;
  color: black;
  right: 27.5%;
  filter: drop-shadow(0px 0px 4px rgb(187, 187, 187));
  border: none;
}

svg.internship-details-image-btn:hover {
  color: rgb(43, 42, 42);
  filter: drop-shadow(0px 0px 4px rgb(226, 226, 226));
}

.internship-image-with-btns-container {
  width: 55rem;
}

div.internship-details-map-container {
  width: 100%;
  height: 40rem;
}

div.internship-details-spacer {
  margin-bottom: 19px;
}

h5.internship-details-title-spacer {
  margin-top: 2rem;
}
